@import "../variables.scss";

.page {
    color: $textColor;
    padding: 1rem;

    &__movies {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    &__movies__rating {
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        padding-left: 0.5rem;
    }
}