@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */

:root { 
  --primary-color: #201F28;
  --secondary-color: #FFB92A;
  --tertiary-color: #D9D9D9;
  --text-color: #FFF;
  
  --primary-font:'Montserrat', sans-serif;
  --secondary-font: 'Lato', sans-serif; 
  
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  position: relative;
}