.roundButton {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.searchButton:disabled {
    background-color: var(--tertiary-color);
}