@import "../variables.scss";

.roundButton {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 1.5rem;
    border-radius: 50%;
    @include flex-center;
    position: absolute;
    bottom: 0.9rem;
    right: 0.6rem;
}

.regularButton:disabled {
    background-color: $tertiaryColor;
}