@import "../variables.scss";

.detailedMovieCard {
    background-color: $tertiaryColor;
    color: $primaryColor;
    font-weight: 500;
    @include flex-center;
    flex-direction:column;
    gap: 1rem;
    border-radius: 6px;   
    padding: 1.5rem;
    margin: 1rem 0;

    &__img {
        width: 60%;
        border-radius: 6px;
        @include box-shadowing;
    }

    &__genre {
        @include flex-center;
        gap: 0.8rem;
    }

    &__plot {
        text-align: justify;
    }

    &__rating {
        font-size: 1rem;
        font-weight: 600;
        @include flex-center;
        gap: 0.3rem;
        align-self: flex-end;
    }
}