@import "../variables.scss";

.footer {
    width: 100%;
    background-color: $tertiaryColor;
    color: $primaryColor;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    padding: 0.5rem 1rem;

    &__navList {
        @include flex-center;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
    }
}

