@import "../variables.scss";

.ratingContainer {
    margin-bottom: 2rem;

    &__setRating {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-top: 0.5rem;

        button {
            align-self: flex-end;
            padding: 0.5rem;
            margin:0;
        }
    }

    &__displayRating {
        width: 20%;
        background-color: $tertiaryColor;
        color: $primaryColor;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        border: 2px solid $primaryColor;
        border-radius: 6px;
        padding: 0.2rem;
    }

}