.searchBar {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;

    &__input {
        background-color: transparent;
        color: var(--text-color);
        border: 1px solid var(--tertiary-color);
        padding: 0.8rem 0.5rem;
        border-radius: 6px;
    }
}