@import "../variables.scss";

.searchBar {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem 0;

    &__input {
        background-color: transparent;
        color: $textColor;
        border: 1px solid $tertiaryColor;
        border-radius: 6px;
        padding: 0.8rem 0.5rem;
    }

    &__pagination {
        @include flex-center;
        gap: 0.5rem;
    }

    &__pagination__pageNumber {
        color: $textColor;
        font-size: 1.3rem;
        font-weight: 600;
    }
}