@import "./variables.scss";

h2 {
    color: $textColor;
    text-transform: uppercase;
}

button {
    background-color: $secondaryColor;
    color: $primaryColor;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    @include box-shadowing;
}