@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;600;700&display=swap');

$primaryColor: #201F28;
$secondaryColor: #FFB92A;
$tertiaryColor: #D9D9D9;
$textColor: #fff;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Lato', sans-serif; 

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadowing {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
